.terminal-container {
  width: 100%;
  height: 100vh;
  overflow: auto;
  cursor: text;
  background: #000;
  background-size: cover;
}

.terminal-content {
  padding: 20px;
  height: 100%;
  font-size: 15px;
  line-height: 20px;
  white-space: pre;
  color: #ffffff;
  font-family: monospace;
  display: flex;
  flex-direction: column;
}
.terminal-input-area {
  display: inline-flex;
  width: 100%;
  align-items: center;
}

.terminal-prompt {
  margin-right: 5px;
}

.terminal-input {
  font-family: inherit;
  font-size: inherit;
  font-size: inherit;
  color: rgb(240, 191, 129);
  background: transparent;
  border: 0px;
  outline: none; /* no highlight on focus */
  width: 100%;
}

.terminal-error-group {
  display: flex;
  flex-direction: column;
}

.terminal-error {
  color: red;
}

.terminal-glow {
  text-shadow: 0 0 3px #ff0000;
}
